
{% extends ['base.html.twig', '@SurvosWorkflow/layout.html.twig'] %}

{% block body %}


    <h1>{{ workflowsByCode|length }} Workflows</h1>

    {% for code, wrapper in workflowsByCode %}
        <h1>{{ code }}</h1>
        <a href="{{ path('survos_workflow', {flowCode: code}) }}">Show More</a>

        {{ workflow_diagram(wrapper.entity, code, 'LR') }}

    {% endfor %}



{% endblock %}
